@media(max-width: 1024px){

}


@media (max-width: 991px)
{

    /*------------custom-class--------*/
    .text-content{
        width: 100%;
    }


    /*-----------navbar-brand----------*/
    .navbar-wrap .navbar-brand img{
        height: 3.81redm ;
    }

    .navbar-wrap .nav-link
    {
        line-height: 1.875rem;

    }
    
    /***************TOP-BANNER*********************/
    .top_banner{
        padding: 9.37rem 0 9.375rem;
    }

    .story-section {
        height: auto;
        padding: 3rem 0;
    }


    /************************ testimonial***********************/

    .testimonial-section .carousel-item .carousel-caption p{
        padding: 0;
    }
}


@media(max-width: 767px){


    h1{
        font-size: 2rem;  
        line-height: 2.062rem;
    }

    h2{
        font-size: 1.5rem;  
        line-height: 2.062rem;
    }


    .testimonial-section .carousel-item{
        padding: 13rem 3.2rem;
    }
}


@media(max-width: 330px)
{
    .testimonial-section .carousel-item{
        padding: 13rem 3.2rem;
    }

    h1{
        font-size: 1.3rem;  
        line-height: 3.062rem;
    }

    h2{
        font-size: 1.1rem;  
        line-height: 3.062rem;
    }

}