
*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:foucus{
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color: var(--secondary-color);
}

ul,
ol{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-weight: bold;
}

h5{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--primary-color);
    font-weight: bold;
}


/*================variable-define==============*/

:root{
    --primary-color : #A82c48;
    --secondary-color: #41121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-grey : #999;
    --black-color: #000;
    --primary-font : 'Roboto', Sans-sarif;
    --secondary-font : 'Quicksand', Sans-sarif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}


/******************************header-design***************/

.navbar-wrap{
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    -webkit-transition:all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.navbar-wrap .nav-item{
    padding: 0 0.637rem;
    transition: 0 200ms linear;
}

.nav-link{
    font-size: 0.96rem;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
}



.main-button{
    background-color: var(--primary-color);
    padding: 0.325rem 1.875rem;
    line-height: 1.787rem;
    border : 0.1875rem solid var(--primary-color) ;
    display: inline-block;
    font-weight: 600;
    -webkit-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
    text-transform: capitalize;
    color: var(--white-color);
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
}
.white-button {
    background-color: var(--white-color);
    padding: 8px;
    text-transform: capitalize;
    border : 1px solid transparent;
    color: var(--primary-color);
}

.main-button:hover{
    background-color: transparent;
    color: var(--primary-color);
}




.top_banner{
    width: 100%;
    background: url('../image/bg/bg-1.jpg') no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}



/*-------------------COUNTER-DESIGN----------------------*/

#counter{
    background-color: var(--primary-color);
    padding: 2.5rem 0;

}

.counter-section p{
    color: #fff;
    text-transform: uppercase;
}


/*-----------------------about-sectio-------*/

.about-section{
    background-color: var(--white-color);

}

.about-section .card,
.about-section .card img
{
    border-radius: 0.625rem ;
}

.about-section .text-sec{
    padding-left: 2.5rem;
}

.food-type {
    padding-top: 3rem;

}

.food-type ul li{
    position: relative;
    margin-left: 30px;
    color: var(--text-color);
    line-height: 1.3rem;
    font-size: 1rem;
}


.food-type ul li::before{
    position: absolute;
    left: -2.075rem;
    content: '\f00c';
    font-size: 1.25rem;
    color: var(--primary-color);
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900px;

}


/*----------------------story-section------------------*/

.story-section{
    width: 100%;
    height: 28.098rem;
    background: url('../image/bg/bg-2.jpg') no-repeat center;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}
.story-section h2{
    color: var(--primary-color);
}


/*********************Explore-food********************/

.explore-food .card {
    border: none;
    background-color: transparent;
    border-radius: 0.975rem;
}

.explore-food .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}

.explore-food .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 0.0693rem solid var(--text-grey);
}

.explore-food .card span del{
    color: var(--text-color);
    margin-left: 0.79rem;
}


/*------------------Testimonoal-section------------------------*/

.testimonial-section{
    background-color: var(--primary-color);

}

.testimonial-section .carousel-item {
    padding: 10rem 3.1257rem;
    background-color: var(--white-color);
    border-radius: 0.933rem;
    text-align: center;
}

.testimonial-section .carousel-caption img{
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3125rem;
}

.testimonial-section .carousel-item .carousel-caption p{
    font-size: 1.3rem;
    line-height: 2.06rem;
    padding: 0 11% 0.63rem;
    color: var(--text-color);
}

testimonial-section .crousel-indicators{
    bottom: -2.856rem;
}

.testimonial-section .crousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity: 0.3;

} 

.testimonial-section .crousel-indicators{
    bottom: -2.8125rem;
}

.testimonial-section h2{
    color: var(--white-color);
}

.testimonial-section .crousel-indicators button.active{
    opacity: 1;
}

.faq-section h2{
    font-size: 2.6rem;
    text-align: center;
    color: var(--primary-color);
}

/******************Food-book****************/

.food-book{
    background: url('../image/bg/bg-3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 9.7875px;
    padding: 4.798rem 0;

}

.food-book h2{
    color: var(--white-color);
}


/******************newslatter***************************//

 .newslettar {
    width: 30%;
    margin: auto;
    background-color: rebeccapurple;
}

 .newslettar h2{
    color: var(--primary-color);
    font-size: 2.6rem;
}

.newsletter .form-control{
    height: 3.225rem;
    border: none;
    border-radius: 0;
    padding: 0 1.25rem;
    background: transparent;
    border: 0.875rem solid var(--text-color);
    font-size: 0.875rem;
    width: 100%;
    border: 0.1875rem solid var(--text-color);
    color: var(--black-color);
    font-weight: 700;
}

.newsletter .form-control:focus,
.newsletter .form-control:hover {
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
} 


/************************footer-section******************/


.footer-section{
    background-color: var(--primary-color);
}

.footer-section .footer-link{
    padding: 0 1.875rem;
    font-size: 1rem;
    color: var(--white-color);
}

.footer-section a i{
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0 1rem;
}



